*
{
    margin: 0%;
    padding: 0%;
}
#container
{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.head
{
    height: 69px;
    position: relative;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo
{
    display: block;
    width: 108px;
    height: 43px;
    text-indent: -9999px;
    margin-left: 188px;
    padding-top: 12px;
}
.search_bar
{
    width: 100%;
    height: 100%;
    text-align: center;

}
.search_box
{
    margin-top: -2.5%;
    height: 49%;
    margin-left: 19.5%;
    width: 19%;
    border:1px solid #e0e0e0;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 13px;
    line-height: 18px;
    font-family: inherit;
}
.nav
{
    float: right;
    margin-right: 23%;
}
ul
{
    list-style: none;
    overflow: hidden;
    margin-top: -39px;
    width: 100%;
}
li 
{
    float: left;
}
li a
{
    display: block;
    color: #666;
    padding:9px 16px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    /* font-family: Gotham; */

    /* display: flex; */
    /* align-items: center; */
    /* padding: 20px 0; */
    font-weight: 500;
    text-transform: uppercase;
}
li a:hover
{
    color:  #37a000;
}
button
{
    border: none;
}
button a 
{
    color: white;
    text-decoration: none;
    padding: 8px 29px 10px;
    border-radius: 3px;
    background-color: #37a000;
}
.pst_job
{
    margin-top: -1.5%;
    margin-left: 79%;
}
#nav2
{
    margin-left: 10%;
    height: 35px;
}

.slider
{
    margin-left: -35%;
    overflow: hidden;

}
.slider_wrd
{
    color: #6fda44;
    font-size: 55px;
    font-family: "Canela Deck Bold";
    font-weight: 700;

}
.row
{
    color: white;
    margin-top: 27px;
    margin-left: 7px;
    font-size: 22px;
}
.wrd_clr
{
    color: white;
    font-size: 55px;
}
.slider_continer
{
    margin-top: -26%;
    margin-left: 12%;
}
.btn
{
    margin-top: 28px;
    margin-left: 10px;

}
.btn_strt
{
    padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    user-select: none;
    display: inline-block;
    border: 2px solid transparent;
    -webkit-font-smoothing: antialiased;
    margin: 0 20px 30px 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    transition: all .15s;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    color: #fff;
    background-color: #37a000;
    border-color: transparent;
}
.btn_demo
{
    padding: 11px 28px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
    user-select: none;
    display: inline-block;
    border: 2px solid transparent;
    -webkit-font-smoothing: antialiased;
    margin: 0 20px 30px 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    background-image: none;
    transition: all .15s;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    color:#37a000;
    background-color:#fff;
    border-color: transparent;
}
.cards_container
{
    margin-top: 4%;
    margin-left: 164px;
    
}
.card
{
    padding-right: 19px;
    padding-bottom: 29px;

}
.crdstyl
{
    padding-bottom: 35px;
}
.card-body
{
    /* box-shadow:  0 1px 6px rgba(57,73,76,.35); */
    background-color: whitesmoke;
    width: 99%;
    height: 50px;
    margin-top: -4px;
}
.card-text
{
    padding-top: 15px;
    /* align-items: center; */
    text-align: center;
    font-size: 20px;
}
.Don’t-text
{
    margin-top: 31%;
}
.trusted_by
{
    padding-top: 60px;
}
.logosimg
{
    padding-left: 110px;
    padding-top: 40px;
}
.data
{
    margin-top: 98px;
}
.section_border
{
    padding: 117px;
    border: 1px solid;
}
.how_it_work
{
    width: 100%;
    height: 385px;
    background-color: darkgrey;
}
.wrk
{

}
.box1
{
    width: 270px;
    height: 185px;
    /* background-color: bisque; */
    margin-left: 13.5%;
    margin-top: 47px;
}
.box2
{
    width: 270px;
    height: 185px;
    /* background-color: bisque; */
    margin-left: 34%;
    margin-top: -12%;
    
}
.box3
{
    width: 270px;
    height: 185px;
    /* background-color: bisque; */
    margin-left: 54%;
    margin-top: -12%;
    
    
}
.box4
{
    width: 270px;
    height: 185px;
    /* background-color: bisque; */
    margin-left: 74%;
    margin-top: -12.52%;
    
}
.extra
{
    width: 99%;
    height: 1000px;
    border: 2px solid springgreen;
}
.offering
{
    width: 100%;
    height: 1000px;
    background-color: whitesmoke;
}
.card1
{
    margin-left: 176px;
    margin-top: 91px;
    width: 18%;
    height: 522px;
}
.card2
{
    margin-left: 32%;

    margin-top: -521px;
    width: 18%;
    height: 522px;
}
.card3
{
    margin-top: -522px;
    margin-left: 52%;
    width: 18%;
    height: 522px;

}
.card4
{
    margin-left: 72%;
    width: 18%;
    height: 522px;
    margin-top: -34.5%;
}
.offercon
{
    font-size: 15px;
    width: 100%;
    /* margin-left: 41px; */
    margin-top: 32px;

}
.offer_para
{
    padding: 24px;
}
.vidsec
{
    height: 450px;
    width: 100%;
    background-color: darkgray;

}
.vid
{

}
.upwork_vid
{
    width: 46%;
    height: 317px;
    margin-left: 51%;
    margin-top: -180px;
}
.up_vid
{
    width: 79%;
    height: 316px;
}
.skills
{
    margin-left: 200px;
    /* margin-right: -170px; */
}
.footer
{
    padding-top: 30px;
    color: #fff;
    background-color: #1d4354;
}
.foter
{

}
.footer2
{
    margin-left: 15%;
    margin-top: 5%;
}